:root {
  --base-color: #007bff;
  --grey-bg: #858585;
  --blue-bg: #007bff;
  --red-bg: #dc3545;
  --yellow-bg: #ffc107;
  --green-bg: #28a745;
  --pink-bg: #e83e8c;
  --purple-bg: #6f42c1;
  --cyan-bg: #17a2b8;
  --orange-bg: #fd7e14;
}

body {
  font-family: "メイリオ, arial, tahoma, helvetica, sans-serif";
  overflow: hidden;
}

svg {
  width: 18px;
  height: 18px;
}

svg {
  fill: var(--base-color);
}

div {

  // &.grey {
  //   color: #333;

  //   svg {
  //     fill: #333;
  //   }
  // }

  &.grey,
  &.blue,
  &.yellow,
  &.red,
  &.green,
  &.pink,
  &.purple,
  &.cyan,
  &.orange {
    color: #fff;

    svg {
      fill: #fff;
    }
  }

}

.divider {
  border-top: 1px solid #f1f1f1;
}

.tab-list {
  .tab-item {
    cursor: pointer;
    min-height: 50px;
    position: relative;

    &.active {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: var(--base-color);
      }
    }

    &.selected {
      background-color: #ececec;

      .title {
        color: #000;
      }
    }

    &:hover {
      background-color: #ececec;
    }

    .tab-pin {
      position: absolute;
      right: 8px;
      top: 4px;
      transform: rotate(45deg);

      &:hover {
        cursor: pointer;

        svg {
          fill: #69adf6;
        }
      }
    }

    // &.status-loading {
    //   &::before {
    //     content: "";
    //     display: block;
    //     width: 40px;
    //     height: 40px;
    //     position: absolute;
    //     top: 5px;
    //     left: 8px;
    //     z-index: 99999999;
    //     background-color: var(--base-color);

    //     mask-image: url("data:image/svg+xml,%3Csvg width='40' height='40' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='1'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    //   }
    // }
  }
}

.group-list {
  .group-card {

    &.grey {
      .group-card-header {
        background-color: var(--grey-bg);
      }
    }

    &.blue {
      .group-card-header {
        background-color: var(--blue-bg);
      }
    }

    &.red {
      .group-card-header {
        background-color: var(--red-bg);
      }
    }

    &.yellow {
      .group-card-header {
        background-color: var(--yellow-bg);
      }
    }

    &.green {
      .group-card-header {
        background-color: var(--green-bg);
      }
    }

    &.pink {
      .group-card-header {
        background-color: var(--pink-bg);
      }
    }

    &.purple {
      .group-card-header {
        background-color: var(--purple-bg);
      }
    }

    &.cyan {
      .group-card-header {
        background-color: var(--cyan-bg);
      }
    }

    &.orange {
      .group-card-header {
        background-color: var(--orange-bg);
      }
    }

    .group-card-header {
      svg {
        width: 16px;
        height: 16px;
      }

      .context-menu-item {
        .icon {
          svg {
            fill: var(--base-color);
          }
        }
      }
    }

    .group-card-body {
      transition: all 0.3s;

      .group-card-item {
        cursor: pointer;

        &.active {
          background-color: #ececec;

          .title {
            color: #000;
          }
        }

        &:hover {
          background-color: #ececec;
        }
      }
    }
  }
}

.shadow-menu {
  box-shadow: #32325d40 0 2px 5px -1px, #0000004d 0 1px 3px -1px;
}

.select-group {
  min-width: 110px;

  // .title {
  //   background-color: ;
  // }

  .select-group-item {
    border-bottom: 1px solid #f1f1f1;
    min-height: 30px;

    &:last-child {
      border-bottom: none;
    }

    &.grey {
      color: var(--grey-bg);

      .dot {
        background-color: var(--grey-bg);
      }
    }

    &.blue {
      color: var(--blue-bg);

      .dot {
        background-color: var(--blue-bg);
      }
    }

    &.red {
      color: var(--red-bg);

      .dot {
        background-color: var(--red-bg);
      }
    }

    &.yellow {
      color: var(--yellow-bg);

      .dot {
        background-color: var(--yellow-bg);
      }
    }

    &.green {
      color: var(--green-bg);

      .dot {
        background-color: var(--green-bg);
      }
    }

    &.pink {
      color: var(--pink-bg);

      .dot {
        background-color: var(--pink-bg);
      }
    }

    &.purple {
      color: var(--purple-bg);

      .dot {
        background-color: var(--purple-bg);
      }
    }

    &.cyan {
      color: var(--cyan-bg);

      .dot {
        background-color: var(--cyan-bg);
      }
    }

    &.orange {
      color: var(--orange-bg);

      .dot {
        background-color: var(--orange-bg);
      }
    }

    &:hover {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ddd;
        opacity: 0.1;
      }
    }
  }
}

.color-setting {
  .color-item {
    border: 1px solid #fff;

    &.active {
      border: 1px solid #007bff;

      svg {
        display: block;
      }
    }

    svg {
      width: 10px;
      height: 10px;
      display: none;
    }

    &.grey {
      background-color: var(--grey-bg);
    }

    &.blue {
      background-color: var(--blue-bg);
    }

    &.red {
      background-color: var(--red-bg);
    }

    &.yellow {
      background-color: var(--yellow-bg);
    }

    &.green {
      background-color: var(--green-bg);
    }

    &.pink {
      background-color: var(--pink-bg);
    }

    &.purple {
      background-color: var(--purple-bg);
    }

    &.cyan {
      background-color: var(--cyan-bg);
    }

    &.orange {
      background-color: var(--orange-bg);
    }
  }
}

.toolbar {
  .toolbar-item {
    cursor: pointer;
    font-weight: 500;

    &.active {
      background-color: var(--base-color);
      color: #fff;
      font-weight: 600;

      svg {
        fill: #fff;
      }
    }
  }
}

input.input-search {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.context-menu {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  min-width: 180px;
}

.icon.un-pin, .icon.un-inbox {
  position: relative; 
  
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 7px;
    width: 2px;
    height: 22px;
    background-color: #68b1ff;
    transform: rotate(45deg);
  }
}

.icon-loading {
  // display: inline-block;
  // width: 40px;
  // height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: var(--base-color);
  animation: spin 1s ease-in-out infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.wrap-fav-icon {
  .animate-spin {}
}